<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}phpList{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <script src="https://cdn.tailwindcss.com"></script>#}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {# Add your own custom CSS later if needed #}
    {{ encore_entry_link_tags('styles') }}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<main class="">
    {% block body %}{% endblock %}
</main>

<script src="{{ asset('build/runtime.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
